/* base classes */
.container{
    max-width: 1640px;
    width: 100%;
    margin: 0 auto;
}
.flex{
    display: flex;
}
/* base classes */

/* header */
.header{
    margin-top: 53px;
}
.header-cont{
    justify-content: space-between;
    align-items: center;
}
.nav-li:nth-child(1){
    margin-right: 53px;
}
.nav-li:nth-child(2){
    margin-right: 70px;
}
.nav-li:nth-child(3){
    margin-right: 106px;
}
.nav-li:nth-child(4){
    margin-right: 78px;
}
.nav-a{
    color: #707070;
    font-size: 20px;
    font-family: 'ArchyEDT-Thin';
}
/* header */

/* banner */
.banner{
    background-image: url(../images/banner1.png);
    height: 613px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 60px;
}
/* banner */

/* post section */
.post-section{
    margin-top: 138px;
}
.post-title{
    color: #707070;
    font-size: 40px;
    font-family: 'ArchyEDT-Thin';
    margin-bottom: 70px;
}
.article-box{
    flex-wrap: wrap;
    justify-content: space-between;
}
.article{
    border: 1px solid #707070;
    display: flex;
    flex-direction: column;
}
.article img{
    width: 100%;
}
.article h2{
    color: #707070;
    font-size: 30px;
    font-family: 'ArchyEDT-Thin';
    margin: 25px 0 35px 10px;
}
.article p{
    color: #707070;
    font-size: 18px;
    font-family: 'Zapf Dingbats';
    margin: 0 23px 0 11px;
    max-width: 483px;
    width: 100%;
}
.article button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #707070;
    font-size: 24px;
    font-family: 'ArchyEDT-Thin';
    align-self: flex-end;
    margin: 71px 15px 25px 0;
}
.loadBtn{
    margin: 55px auto;
    justify-content: center;
    display: flex;
    color: #707070;
    font-size: 30px;
    font-family: 'ArchyEDT-Thin';
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-decoration: underline;
}
/* post section */

/* responsive media */
@media(max-width: 1125px){
    .article-box{
        justify-content: center;
    }
    .article{
        margin-bottom: 32px;
    }
    .first-article{
        margin-right: 20px;
    }
}
@media(max-width: 1080px){
    .containerWithPadding{
        padding: 0 25px;
    }
    .nav{
        display:  none;
    }
    .banner{
        background-image: url(../images/banner2.png);
    }
    .article{
        width: 100%;
    }
    .first-article{
        margin-right: 0;
    }
    .post-title{
        justify-content: center;
        display: flex;
    }
}
@media(max-width: 480px){
    .banner{
        background-image: url(../images/responsiveBanner.png);
        height: 253px;
    }
    .third-article{
        display: none;
    }
}
/* responsive media */